{% extends "base.html" %}

{% block pageNavigation %}
	
{% endblock %}

{% block pageTitle %}
  <CENTER><h3> Category Management </h3></CENTER>
{% endblock %}

{% block pageBody %}
	 
 	 <CENTER>
	 	<table>
  		    <tr><td><a href="{%url 'mysite.myproj.views.categoryAdd' %}" style="text-decoration: none"> &nbsp; Add Category </a></td></tr>
 		    <tr><td><a href="{%  url 'mysite.myproj.views.categoryList' %}" style="text-decoration: none"> &nbsp; List Category </a></td></tr>
	   </table> 
 	 </CENTER>
 
{% endblock %}

