<!doctype html>
<html>
<head>
<meta charset=utf-8>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
</head>



<body>
<a> click here </a>


<script>
(function() {
	$('a').on('click', function( e ) {
		/*
		$.getJSON( "http://localhost:8080/business/rncjoVoEFUJGCUoC1JgnUA", function( data ) {
			console.log(data.type);	
		});
        */
        $.ajax({
            url: "http://localhost:8080/business/rncjoVoEFUJGCUoC1JgnUA",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                console.log(data);

            },
            error : function(jqXHR, textStatus, errorThrown) {
            },

            //timeout: 120000,
        });

	});
})();

</script>
</body>


</html>

