<!doctype html>
<html>
<head>
<meta charset=utf-8>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  type="text/css"/>
<!-- maps start -->
<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- maps end -->
</head>



<body>
<script id="restTemplate" type="tuts/template">
	<div class="list-group">
  		<a href="#" class="list-group-item active">
    		<h4> {title} </h4>
  		</a>
  		<a href="#" class="list-group-item"> <font class="text-success">Name:</font> {name} </a>
  		<a href="#" class="list-group-item"><font class="text-success">Address:</font> {address} </a>
  		<a href="#" class="list-group-item"><font class="text-success">City:</font> {city} </a>
  		<a href="#" class="list-group-item"><font class="text-success">Rating:</font> {stars} </a>
      <a href="#" class="list-group-item"><font class="text-success">Similarity Index:</font> {simIndex} </a>

	</div>
</script>

<script id="recordTemplate" type="tuts/template">
<div class="well well-sm">
<table>
  <tr> <td><span class="badge" style="background-color: #606060"><h1>{index}</h1></span></td>
  
  <td>
  <dl class="dl-horizontal">
    <h4><strong><dt>Restaurant:</dt>
    <dd class="text-info">{name}</dd></strong></h4>
    <dt>Address:</dt>
    <dd>{address}</dd>
    <dt>City:</dt>
    <dd>{city}</dd>
    <dt>Rating:</dt>
    <dd><span class="badge" style="background-color: #009944">{stars}</span></dd>
    <dt>Similarity Index:</dt>
    <dd>{simIndex}</dd>
  </dl>
  </td>
  </tr>
</table>
</div>
</script>

<script id="catTemplate" type="tuts/template">
<div class="well well-sm">
<table>
  <tr> <td><span class="badge" style="background-color: #606060"><h1>{index}</h1></span></td>
  
  <td>
  <dl class="dl-horizontal">
    <dt>Categories:</dt>
    <dd class="text-info">{categories}</dd>
    <dt>Existing Rating:</dt>
    <dd><span class="badge" style="background-color: #009944">{stars}</span></dd>
  </dl>
  </td>
  </tr>
</table>
</div>
</script>
<!-- ###################################################################################################-->

<div class="container">
	<h1 class="text-info">Restaurant Location Recommender v1.0</h1>
	<br>
	<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="home" href="#" style="font-size: 1.2em;">Home</a></li>
      <li><a class="restaurants" href="#" style="font-size: 1.2em;">Featured Restaurant</a></li>
      <li><a class="recommender" href="#" style="font-size: 1.2em;">Recommender</a></li>
    </ul>
    <!-- <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form> -->
    
  </div><!-- /.navbar-collapse -->
</nav>

<div class="jumbotron">
    <h2 class="text-info">Welcome to Restaurant Recommender</h2>
    <h3 class="text-info">What does our system do?</h3>
    <p>
    Our system will tell you if it is a good idea to set up a restaurant 
    in a particular area (based on zipcode), given:<br> 
    	1) Type of restaurant<br>
    	2) Cuisine<br>
    	3) Speciality</p>

	<h3 class="text-info">How do we do it?</h3>
    <p>
    We use our custom developed algorithm to:<br>
    1)Find restaurants in the area<br>
    2)Find restaurants similar to your parameters<br>
    3)Depending on the result of the above comparison, return a decision</p> 
    <!--<a href="#" class="btn btn-large btn-success">Get Started</a>-->
</div>

<!-- #############################################################################################################-->
<div class="reco">
<table width="100%">
<tr>
<td>  
<h2 class="text-muted"> Enter your preferences: </h2>
<form class="form-inline">
   <div class="control-group">
      <label class="control-label" for="zipcode"><font class="text-info"><h3> Zip Code </h3> </font></label>
       <div class="controls">
        <input class="form-control" style="width:300px;" id="zipcode" placeholder="Enter Zip Code">
        <span class="help-block">Currently we are limited to Phoenix, AZ region.</span>
      </div>
    </div><!-- /clearfix -->
  <br>

  <div class="clearfix" style="font-size:17px;">
  <select name="Type" id="Type"> 
    <option value="">Select Type</option>
    <option value="Restaurants">Restaurants</option>
    <option value="Delis">Delis</option>
    <option value="Fast Food">Fast Food</option>
    <option value="Bakeries">Bakeries</option>
    <option value="Diners">Diners</option>
    <option value="Buffets">Buffets</option>
    <option value="Sushi Bars">Sushi Bars</option>
    <option value="Sports Bars">Sports Bars</option>
    <option value="Seafood">Seafood</option>
  </select> 
  </div>
  <br>
  <div class="clearfix" style="font-size:17px;">
  <select name="Cuisine" id="Cuisine">
    <option value="">Select Cuisine</option>
    <option value="American (Traditional)">American (Traditional)</option>
    <option value="American (New)">American (New)</option>
    <option value="Mexican">Mexican</option>
    <option value="Chinese">Chinese</option>
    <option value="Japanese">Japanese</option>
    <option value="Italian">Italian</option>
    <option value="Caribbean">Caribbean</option>
    <option value="Mediterranean">Mediteranean</option>
    <option value="Indian">Indian</option>
    <option value="Thai">Thai</option>
    <option value="Hawaiian">Hawaiian</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="Latin American">Latin American</option>
    <option value="Greek">Greek</option>
  </select>
  </div>
  <br>
  <div class="clearfix">
  <input type="speciality" class="form-control" id="speciality" style="width:300px;" placeholder="Enter Speciality">
  <span class="help-block">For example: Pizza, Burgers, Cheesesteaks, Hot dogs, Fish & Chips, Donuts, Bagels</span>

  </div>

  <br>
  <br>
  <p><a class="btn btn-lg btn-primary" id="submitPref" href="#" role="button">Submit</a></p>
  <br>
</form>
</td>

<td align="right">
<div id="map-canvas" style="height:400px;width:400px;margin:0 auto;"></div>
</td>
</tr>
</table>

</div> <!-- end of div class=reco -->

<!--#############################################################################################################-->

<div class="content">

</div>

</div> <!-- main container div-->

<script>
(function() {

  divContent = $('div.content')
  $('div.reco').hide();

	$('a.restaurants').on('click', function( e ) {
    divContent.html("");
	  $('div.reco').hide();
    $('div.jumbotron').hide();

		$.getJSON( "/getbusinessdata/", function( data ) {
			
			var template = $.trim( $('#restTemplate').html());
			frag=''

			frag += 
				template.replace( /{title}/ig, "Restaurant Info")
                .replace( /{name}/ig, data.name)
						    .replace(/{address}/ig, data.full_address)
						    .replace(/{city}/ig, data.city)
						    .replace(/{stars}/ig, data.stars)
                .replace(/{simIndex}/ig, "NA")
						
			divContent.html(frag);
		});
	});

	$('a.recommender').on('click', function( e ) {				
			$('div.jumbotron').hide();
      $('div.reco').show();
      divContent.html("");
      //maps start
      initialize();

      //maps end
	});

	$('a.home').on('click', function( e ) {
			$('div.jumbotron').show();
      $('div.reco').hide()				
			divContent.html("");
	});	

  $('body').on('click', '#submitPref', function( e ) {
      divContent.html("");
      e.preventDefault();
      var zipcode = $('#zipcode').val();
      var type = $('#Type').val();
      var cuisine = $('#Cuisine').val();
      var speciality = $('#speciality').val();
      var preference = [type, cuisine, speciality];

      jsondata = {}
      jsondata['zipcode']=zipcode;
      jsondata['preference']=preference;

      //jsondata = JSON.stringify(jsondata);
      
      $.ajax({ 
        url: "/postpeferencejson/", 
        type: "POST", 
        data: JSON.stringify(jsondata), 
        dataType: "json", 
        success: function(data){
            console.log("posted successfully");

            if (data['decision']==true){
              console.log("true");
              var frag = '';
              var records = data['records'];
              
              var template = $.trim( $('#recordTemplate').html());
              //Also add records to maps
              initialize();
              var marker= [];
              $.each( records, function( index, line ) {
                
                frag += 
                  template.replace( /{name}/ig, line.record.name)
                          .replace(/{address}/ig, line.record.full_address)
                          .replace(/{city}/ig, line.record.city)
                          .replace(/{stars}/ig, line.record.stars)
                          .replace(/{simIndex}/ig, line.simIndex)
                          .replace(/{index}/ig, index+1)

                //Add records to map
                var myLatlng = new google.maps.LatLng(line.record.loc[1], line.record.loc[0]);
                marker[index] = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: '['+(index+1)+'] ' + line.record.name + ' (Rating: '+line.record.stars+')' 
                });
              });
              
              //Fit markers in map
              if (records.length>0){
                fitMarkers(marker);

                divContent.html("<center><h4><b><p class=\"text-success\"> Result: <br> -- Found "+records.length+
                  " similar restaurants in the neighborhood --<br>" +
                  " -- Out of which no restaurant has SIMILARITY INDEX greater than 0.4 with a high RATING of 4 and above-- <br>"+
                  " -- And so it is recommended to setup the restaurant based on your preferences --</p></b></h4></center><br>");
              }
              else{
                divContent.html("<center><h4><b><p class=\"text-success\"> Result: <br> -- Found "+records.length+
                  " similar restaurants in the neighborhood --<br>" +
                  " -- And so it is recommended to setup the restaurant based on your preferences --</p></b></h4></center><br>");
              }
                

              divContent.append(frag); 
            }
            else if(data['decision']==false){
              console.log("false");
              var frag = '';
              var frag2 = '';
              
              records = data['records'];
              

              divContent.html("<center><h4><b><p class=\"text-success\"> Result: <br> -- Found "+records.length+
                " similar restaurants in the neighborhood --<br>" +
                " -- Out of which the most similar restaurant has a very high rating -- <br>"+
                " -- And so it is <font color=\"red\">NOT</font>  recommended to setup the restaurant based on your preferences --</p></b></h4></center><br>");

              //Display the most similar record
              records0 = records[0];
              var template2 = $.trim( $('#restTemplate').html());
              frag2 =template2.replace( /{title}/ig, "Most similar restaurant found:")
                              .replace( /{name}/ig, records0.record.name)
                              .replace(/{address}/ig, records0.record.full_address)
                              .replace(/{city}/ig, records0.record.city)
                              .replace(/{stars}/ig, records0.record.stars)
                              .replace(/{simIndex}/ig, records0.simIndex)

              //Add it to maps
              initialize();
              var myLatlng = new google.maps.LatLng(records0.record.loc[1], records0.record.loc[0]);
              var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: records0.record.name
              });

              divContent.append(frag2);

              records.sort(function(a,b){ 
                return a.record.stars - b.record.stars;

              });

              var template = $.trim( $('#catTemplate').html());
              $.each( records, function( index, line ) {
                if(index<5){
                  frag += 
                        template.replace( /{categories}/ig, line.record.categories)
                                .replace(/{stars}/ig, line.record.stars)
                                .replace(/{index}/ig, index+1)  
                }
                
              });
              
              divContent.append("<br><center><h4><b><p class=\"text-success\"> -- However, the system recommends following categories of restaurants ranked from 1 to 5 --</p></b></h4></center");
              divContent.append(frag);
              
            } //end if (data['decision']==false)
            else {
              initialize();
              divContent.html("<center><h4><b><p class=\"text-warning\"> Result: <br> -- Either zipcode is invalid or no restaurant data available for that zipcode -- <br>"+
                " -- So system can't recommend anything --</p></b></h4></center><br>");
            } 
        },
        error: function (e) {
            alert("Failed to process request correctly, please try again");
        }

      });

      divContent.html("");
  });  	
	
// maps start
var map;
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(33.43, -112.02)
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
}

function fitMarkers(markers){
  var fullBounds = new google.maps.LatLngBounds();

  for(var i=0;i<markers.length;i++){
    var lat=parseFloat(markers[i].position.lat());
    var long=parseFloat(markers[i].position.lng());
    var point=new google.maps.LatLng(lat,long);

    fullBounds.extend(point);

  }

  map.fitBounds(fullBounds);
  
}

//maps end

})();//end of jquery main fn



</script>
</body>
</html>